# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
*.pem

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
*.tfvars

# Archives & Packages
*.tar.gz
*.zip

# System files
.DS_Store
Thumbs.db

# Logs
*.log

